*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#nav{
    /* border: 2px solid red; */
    height: 70px;
    width: 100%;
    background-color: #2c2d2e;
}
a img{
    background-image: url(../DAY-13/f7a2ebfb819c118086546e481876aef6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: left;
    height: 40px;
    width: auto;
    top: 10px;
    left: 10px;

}
div a+a>span>svg{
    height: 25px;
    position: absolute;
    left: 180px;
    top: 20px;
    /* background-color: white; */
    fill: #fff;

}
div a+a+a>span>svg{
    height: 25px;
    position: absolute;
    left: 230px;
    top: 20px;
    color:#ebebeb;

}
#sub-nav{
    position: absolute;
    right: 80px;
    top: 25px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 25px;
    word-spacing: 15px;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: "Ubuntu",sans-serif;;
}
.men{
    color: white;
    text-decoration: none;
}
#bg{
    height: 100%;
    width: 100%;
    background-color: #454647;
}
section{
    /* border: 2px solid white; */
    height: 620px;
    width: 100%;
}
h1{
    position: absolute;
    top: 180px;
    left: 400px;
    color: #fff;
    font-family: "Ubuntu",sans-serif;
    font-weight:300;
    font-size: 48px;
}
h2{
    position: absolute;
    top: 320px;
    left: 400px;
    color: #fff;
    font-family: "Ubuntu",sans-serif;
    font-weight:lighter;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-family: "Ubuntu",sans-serif;
}
input{
    height: 50px;
    width: 800px;
    position: absolute;
    top: 500px;
    left: 400px;
    border-radius: 10px;
}

footer{
    /* border: 2px solid red; */
    height: 35px;
    background-color:#d96438 ;
}

foote>p{
    font-family: "Ubuntu",sans-serif;
    font-weight: lighter;
    margin-left: 100px;

}
#search{
    height: 450px;
    position: absolute;
    top: 520px;
    right: 460px;


}